<header>
  <nav class="navbar-container">
    <a class="navbar-brand" href="/list">PasswordKeepR</a>
    <ul class="navbar-right">
      <%# if (user) { %>
        <li class="click-text"><%# user.name %><i class="fa-regular fa-circle-user"></i></li>
        <li><form class="form-inline" method="POST" actions="/logout">
          <button type="submit" class="button-logout">Log Out</button>
        </form></li>
      <%# } else { %>
        <li class="click-text"><a href="/login">Login</a></li>
      <%# } %>
    </ul>
  </nav>
</header>
