<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/images/passwordkeepr.png">

  <!-- External Google Font ABeeZee & Alata-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Alata&display=swap" rel="stylesheet">

  <!-- Font Awesome Icon CDN CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Nav CSS -->
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />

  <!-- Main Page CSS -->
  <link rel="stylesheet" href="/styles/main_page.css" type="text/css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
    <!-- Page-specific (main) content here -->
    <main class="articlepicture">
      <!-- Introduction of PasswordKeepR-->
      <section class="introduction">
        <h3>What is PasswordKeepR?</h3>
        <p>At home and work, you have more online accounts that you can possibly remember. And since 81% of breaches
          are caused by weak or reused passwords, it’s essential that each account have a unique password. So how are
          you supposed to remember these strong, unique passwords? You can’t. But PasswordKeepR can.</p>
        <p>This app will let an authorized user acess all the passwords of the organization.
          The app will also let a user generate a new password for a specific account.
          Users will be able to generate a password based on the options the form will provide.
          If a user needs to log in to a specific website (e.g. Facebook) they can go into the app,
          find the appropriate password, click a button which copies the password into the clipboard,
          and log in.</p>
        <p>It's that simple! 😉</p>
      </section>
      <!--Screen shot of app-->
      <div class="screenshot">
        <IMG alt="screenshots of the app" SRC="/images/mainPageGif.gif">
      </div>
    </main>
    <footer class="footer">
      <p>Made with ❤️ by: <a href="https://github.com/BrookeNagy123" class="name" target="_blank">Brooke Nagy</a> ⭐️ <a
          href="https://github.com/binding1" class="name" target="_blank">Jaewon Bae</a> ⭐️ <a
          href="https://github.com/brotherludi" class="name" target="_blank">Di Lu</a></p>
    </footer>
</body>

</html>
