.password-add-body {
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
}

.add-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.topnav-add {
  display: flex;
  justify-content: center;
  width: 60%;
  font-size: xx-large;
}
.topnav-add #back-button-container {
  padding-top: 30px;
  padding-right: 30px;
}
.topnav-add button {
  height: 2em;
  width: 2em;
  border: none;
  background-color: #136F7C;
  border-radius: 1em;
  transition-duration: 0.4s;
  color: #FFFFFF;
}
.topnav-add button:hover {
  background-color: #0d4e57;
  cursor: pointer;
}

.password-form-container {
  width: 60%;
  background-color: #FFFFFF;
  border: 1px #a9a9a9 solid;
  padding: 2em;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: 2em;
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
}
.password-form-container label {
  margin-top: 1em;
}
.password-form-container input, .password-form-container select {
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: 1.5em;
  width: 80%;
  height: 2em;
  border-radius: 0.5em;
  border: 1px grey solid;
}

.submit-password {
  background-color: #136F7C;
  color: #FFFFFF;
  box-decoration-break: none;
  width: 80%;
  height: 2em;
  border-radius: 1em;
  border: none;
  margin-top: 1em;
  font-weight: normal;
}
.submit-password:hover {
  background-color: #0d4e57;
  cursor: pointer;
}