body {
  min-height: 100vh;
  background: #F5F1E3;
  font-family: Alata;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 40em;
  width: 30em;
  border-radius: 2em;
  border: 1px black solid;
  background-color: #FFFFFF;
}

label {
  display: flex;
  font-family: Alata;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}

input[type=checkbox] {
  flex: none;
  margin-left: 20px;
  margin-right: 20px;
  accent-color: #136F7C;
}

input[type=number] {
  flex: none;
  margin-left: 10px;
  margin-right: 20px;
  accent-color: #136F7C;
}

input[type=range] {
  padding: 8px 10px;
  background: #f8f8f8;
  margin-left: 1rem;
  margin-right: 1rem;
  accent-color: #136F7C;
  cursor: pointer;
}

#copy {
  background-color: #136F7C;
  color: #FFFFFF;
  cursor: pointer;
}

#generate {
  background-color: #136F7C;
  color: #FFFFFF;
  cursor: pointer;
}

#result {
  border-radius: 5%;
  font-size: large;
  height: 30px;
}