body {
  min-height: 100vh;
  background: #DDDBCB;
  font-family: Alata;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

label {
  display: flex;
  font-family: Alata;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-radius: 5%;
  border-color: #F5F1E3;
  background-color: #FFFFFF;
  cursor: pointer;
}

input[type=checkbox] {
  flex: none;
  margin-left: 20px;
  margin-right: 20px;
  accent-color: #1b9aaa;
}

input[type=number] {
  flex: none;
  margin-left: 10px;
  margin-right: 20px;
  accent-color: #1b9aaa;
}

input[type=range] {
  padding: 8px 10px;
  background: #f8f8f8;
  margin-left: 1rem;
  margin-right: 1rem;
  accent-color: #1b9aaa;
  cursor: pointer;
}

#copy {
  background-color: #1b9aaa;
  color: #FFFFFF;
  cursor: pointer;
}

#generate {
  background-color: #1b9aaa;
  color: #FFFFFF;
  cursor: pointer;
}

#result {
  border-radius: 5%;
  font-size: large;
  height: 30px;
}