body {
  min-height: 100vh;
  background: #F5F1E3;
  font-family: Alata;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
  height: 37em;
  width: 30em;
  border-radius: 2em;
  border: 1px #a9a9a9 solid;
  background-color: #FFFFFF;
  font-size: large;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

label {
  display: flex;
  font-family: Alata;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  cursor: pointer;
}

input[type=checkbox] {
  flex: none;
  width: 22px;
  height: 22px;
  accent-color: #136F7C;
}

input[type=number] {
  flex: none;
  accent-color: #136F7C;
}

input[type=range] {
  padding: 8px 10px;
  background: #f8f8f8;
  margin-left: 1rem;
  margin-right: 1rem;
  accent-color: #136F7C;
  cursor: pointer;
}

#copy {
  background-color: #136F7C;
  color: #FFFFFF;
  box-decoration-break: none;
  border-radius: 1em;
  border: none;
  margin-top: 1em;
  font-weight: normal;
  cursor: pointer;
  width: 60%;
  height: 2em;
}
#copy:hover {
  background-color: #0d4e57;
}

#generate {
  background-color: #136F7C;
  color: #FFFFFF;
  box-decoration-break: none;
  border-radius: 1em;
  border: none;
  margin-top: 1em;
  font-weight: normal;
  cursor: pointer;
  width: 60%;
  height: 2em;
}
#generate:hover {
  background-color: #0d4e57;
}

#result {
  border-radius: 5%;
  width: 60%;
  height: 2em;
}