.btn-primary {
  margin-top: 7mm;
  background-color: #136F7C;
  color: #FFFFFF;
  width: 30%;
  height: 15%;
  border-radius: 1em;
  border: none;
}

#loginbox {
  width: 40%;
  background-color: #FFFFFF;
  border: 1px #a9a9a9 solid;
  padding: 2em;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 8px 10px -6px rgb(0 0 0 / 10%);
  border-radius: 2em;
  white-space: nowrap;
  text-align: center;
}

#registerbox {
  width: 40%;
  background-color: #FFFFFF;
  border: 1px #a9a9a9 solid;
  padding: 2em;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 8px 10px -6px rgb(0 0 0 / 10%);
  border-radius: 2em;
  white-space: nowrap;
  text-align: center;
}

.form-control {
  font-size: large;
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: 1.5em;
  width: 80%;
  height: 2em;
  border-radius: 0.5em;
  border: 1px grey solid;
}

.btn-primary {
  background-color: #136F7C;
  color: #FFFFFF;
  box-decoration-break: none;
  width: 30%;
  height: 2em;
  border-radius: 1em;
  border: none;
  margin-top: 1em;
  font-weight: normal;
}

.btn-primary:hover {
  background-color: #1B9AAA;
  color: white
}

body {
  font-family: Alata;
  font-size: large;
}
