$font-stack: Alata;
$primary-colour: #1b9aaa;
$button-colour: #136F7C;
$button-colour-hover: #0d4e57;
$font-colour: #050505;
$click-text-colour: #FFFFFF;
$delete-exit-colour: #f44336;
$background-colour: #F5F1E3;


.password-edit-body {
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
}

.edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.topnav-edit {
  display: flex;
  justify-content: center;
  width: 60%;
  font-size: xx-large;

  & #back-button-container {
    padding-top: 30px;
    padding-right:30px;
  }

  & button {
    height: 2em;
    width: 2em;
    border: none;
    background-color: $button-colour;
    border-radius: 1em;
    transition-duration: 0.4s;
    color: $click-text-colour;

    &:hover {
      background-color: $button-colour-hover;
      cursor: pointer;
    }
  }
}

.password-form-edit-container {
  width: 60%;
  background-color: $click-text-colour;
  border: 1px #a9a9a9 solid;
  padding: 2em;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  border-radius: 2em;
  white-space: nowrap;
  text-align: center;
  font-size: x-large;
  font-weight: bold;

  & label {
    margin-top: 1em;
  }

  & input, select {
    font-size: large;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 1.5em;
    width: 80%;
    height: 2em;
    border-radius: 0.5em;
    border: 1px grey solid;
  }
}

.submit-edit-password {
    background-color: $button-colour;
    color: $click-text-colour;
    box-decoration-break: none;
    width: 80%;
    height: 2em;
    border-radius: 1em;
    border: none;
    margin-top: 1em;
    font-weight: normal;

    &:hover {
      background-color: $button-colour-hover;
      cursor: pointer;
    }
}
