$font-stack: Alata;
$primary-colour: #1b9aaa;
$button-colour: #136F7C;
$font-colour: #050505;
$click-text-colour: #FFFFFF;
$delete-exit-colour: #f44336;

header {
  width: 100%;
  top: 0;
  position: fixed;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $primary-colour;
  font-family: $font-stack;
  color: $click-text-colour;
  height: 4em;
}

.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: xx-large;
}

.fa-regular {
  color: $click-text-colour;
  font-size: xx-large;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0px;

  & li {
    display: flex;
    align-items: center;
    padding-inline: 1em;
    text-decoration: none;
  }
}

.click-text {
  color: white;
  height: 100%;

  & a {
    color: $click-text-colour;
    text-decoration: none;
  }

  &:hover {
    background-color: $button-colour;
  }
}

.button-logout {
  background-color: $delete-exit-colour;
  border-radius: 8px;
  border: none;
  padding: 1em;
  transition-duration: 0.4s;
  color: $click-text-colour;

  &:hover {
    background-color: $button-colour;
  }
}
