$font-stack: Alata;
$primary-colour: #1b9aaa;
$button-colour: #136F7C;
$button-colour-hover: #0d4e57;
$font-colour: #050505;
$click-text-colour: #FFFFFF;
$delete-exit-colour: #f44336;
$background-colour: #F5F1E3;

.password-list-body {
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.topnav {
  display: flex;
  justify-content: center;
  width: 60%;
  font-size: xx-large;

  & form {
    padding-top: 30px;
    padding-left: 25px;
  }

  & .add-button {
    display: block;
    height: 2em;
    width: 2em;
    border: none;
    background-color: $button-colour;
    border-radius: 1em;
    transition-duration: 0.4s;
    color: $click-text-colour;

    &:hover {
      background-color: $button-colour-hover;
      cursor: pointer;
    }
  }
}


#password-list-table {
  width: 60%;
  background-color: $click-text-colour;
  border: 1px #a9a9a9 solid;
  padding: 3em;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  border-radius: 2em;
  white-space: nowrap;
  text-align: center;

  & tr {
    padding-block: 2em;
  }


  & td {
    padding-inline: 1em;
    padding-block: 0.5em;
  }

  & [id^='password'] {
    -webkit-text-security: disc;
    -moz-text-security: disc;
    -text-security: disc;
  }
}

[id^='dropbtn'] {
  background-color: $click-text-colour;
  display: flex;
  height: 2.5em;
  width: 2.5em;
  border-radius: 2em;
  color: $font-colour;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;

  &:hover, &:focus {
    background-color: #e6e6e6;
  }
}

[id^='dropdownbtn'] {
  position: relative;
  display: inline-block;
}

button > * {
  pointer-events: none;
}

[id^='dropdown'] {
  display: none;
  border-radius: 1em;

  & a:hover{
    background-color: #ddd;
    cursor: pointer;
  }
}

.dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  & a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}
